body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    background-image: linear-gradient(to right,lightblue,blue);
    margin-top: 0;
    color: orange;
    font-size: 60px;
    padding: 40px;
}
.search{
    margin-left: 300px;
    background-color: white;
    margin-bottom: 30px;
}
label{
    font-size: 50px;
}
input{
    height: 50px;
    width: 300px;
    border-radius: 7px;
    margin-left: 20px;
}
button{
    height: 50px;
    width: 150px;
    background-color: purple;
    border-radius: 7px;
    color: white;
    margin-left: 30px;
    font-size: 20px;
}
input[placeholder="Enter Your City"]{
    font-size: 30px;
}
h2,p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    margin: 0;
}
h2{
    padding: 20px;
    font-size: 40px;
}
p{
    padding: 20px;
    font-size: 30px;
    color: red;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
